﻿
.timeline {
  	list-style: none;
  	padding: 20px 0 20px;
  	position: relative;
}

.timeline > li {
  	margin-bottom: 20px;
  	position: relative;
}

.timeline > li:before,
.timeline > li:after {
  	content: " ";
  	display: table;
}

.timeline > li:after {
  	clear: both;
}

.timeline > li:before,
.timeline > li:after {
  	content: " ";
  	display: table;
}

.timeline > li:after {
  	clear: both;
}

.timeline > li > .timeline-panel {
  	width: calc( 100% - 75px );
  	float: left;
  	color: #34495e;
  	border: 1px solid #d4d4d4;
  	border-radius: 2px;
  	padding: 20px;
  	position: relative;
  	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  	position: absolute;
  	top: 26px;
  	right: -15px;
  	display: inline-block;
  	border-top: 15px solid transparent;
  	border-left: 15px solid #ccc;
  	border-right: 0 solid #ccc;
  	border-bottom: 15px solid transparent;
  	content: " ";
}

.timeline > li > .timeline-panel:after {
  	position: absolute;
  	top: 27px;
  	right: -14px;
  	display: inline-block;
  	border-top: 14px solid transparent;
  	border-left: 14px solid #fff;
  	border-right: 0 solid #fff;
  	border-bottom: 14px solid transparent;
  	content: " ";
}

.timeline > li > .timeline-panel h1{
	margin-top: 0;
}

.timeline > li > .timeline-panel .hr-left{
	height: 1px;
	width: 100px;
	margin-bottom: 20px;
	background-color: #ddd;
}

.timeline .timeline-head{
	text-align: right;
	margin-right: 80px;
	margin-top: 20px;
}

.timeline > li > .timeline-badge {
  	color: #fff;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	font-size: 1.4em;
  	text-align: center;
  	position: absolute;
  	top: 16px;
  	right: 0px;
  	margin-left: -25px;
  	background-color: #999999;
  	z-index: 100;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
  	border-bottom-right-radius: 50%;
  	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  	border-left-width: 0;
  	border-right-width: 15px;
  	left: -15px;
  	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  	border-left-width: 0;
  	border-right-width: 14px;
  	left: -14px;
  	right: auto;
}

.timeline-badge.primary {
  	background-color: transparent !important;
  	width: 20px !important;
  	height: 20px !important;
  	right: 16.5px !important;
  	top: 32px !important;
  	border: 2px solid #1abc9c;
}

.timeline-badge.success {
  	background-color: transparent !important;
  	width: 20px !important;
  	height: 20px !important;
  	right: 16.5px !important;
  	top: 32px !important;
  	border: 2px solid #2ecc71;
}

.timeline-badge.warning {
  	background-color: transparent !important;
  	width: 20px !important;
  	height: 20px !important;
  	right: 16.5px !important;
  	top: 32px !important;
  	border: 2px solid #f1c40f;
}

.timeline-badge.danger {
  	background-color: transparent !important;
  	width: 20px !important;
  	height: 20px !important;
  	right: 16.5px !important;
  	top: 32px !important;
  	border: 2px solid #e74c3c;
}

.timeline-badge.info {
  	background-color: transparent !important;
  	width: 20px !important;
  	height: 20px !important;
  	right: 16.5px !important;
  	top: 32px !important;
  	border: 2px solid #3498db;
}

.timeline-badge.default{
	background-color: #34495e !important;
}

.timeline-title {
  	margin-top: 0;
  	color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  	margin-bottom: 0;
}

.timeline-body > p + p {
  	margin-top: 5px;
}
