@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* GENERAL
===========================*/

.img-profile {
    width:100%;
    max-width:234px;
}

.btn.btn-default{
	background-color: #ecf0f1;
	color: #34495e;
	border: 1px solid #ecf0f1;
}

.btn.btn-default:hover{
	background-color: #bdc3c7;
	color: #34495e;
	border: 1px solid #bdc3c7;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-primary{
	background-color: #1abc9c;
	color: #fff;
	border: 1px solid #1abc9c;
}

.btn.btn-primary:hover{
	background-color: #16a085;
	color: #fff;
	border: 1px solid #16a085;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-success{
	background-color: #2ecc71;
	color: #fff;
	border: 1px solid #2ecc71;
}

.btn.btn-success:hover{
	background-color: #27ae60;
	color: #fff;
	border: 1px solid #27ae60;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-info{
	background-color: #3498db;
	color: #fff;
	border: 1px solid #3498db;
}

.btn.btn-info:hover{
	background-color: #2980b9;
	color: #fff;
	border: 1px solid #2980b9;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-warning{
	background-color: #f1c40f;
	color: #fff;
	border: 1px solid #f1c40f;
}

.btn.btn-warning:hover{
	background-color: #f39c12;
	color: #fff;
	border: 1px solid #f39c12;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-danger{
	background-color: #e74c3c;
	color: #fff;
	border: 1px solid #e74c3c;
}

.btn.btn-danger{
	background-color: #c0392b;
	color: #fff;
	border: 1px solid #c0392b;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn-group{
	margin-right: 20px;
	margin-bottom: 10px;
}

.input-lg{
	margin-bottom: 22px;
}

.form-control{
	border: 1px solid #1abc9c;
}

/* SIDEBAR
===========================*/

#sidebar{
	border-top: 10px solid #1abc9c;
	margin-bottom: 30px;
}

#sidebar .sosmed{
	background-color: #16a085;
	margin-bottom: 35px;
	padding: 20px;
	color: #ecf0f1;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	   -moz-border-bottom-right-radius: 10px;
	    -ms-border-bottom-right-radius: 10px;
	     -o-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	   -moz-border-bottom-left-radius: 10px;
	    -ms-border-bottom-left-radius: 10px;
	     -o-border-bottom-left-radius: 10px;
}

#sidebar .sosmed a{
	color: #ecf0f1;
	margin-right: 5px;
	margin-left: 5px;
}

#sidebar .sosmed a i.fa{
	background-color: #ecf0f1;
	color: #16a085;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	    -ms-border-radius: 100%;
	     -o-border-radius: 100%;
	padding-top: 18px;
}

#sidebar .sosmed a i.fa:hover{
	background-color: #bdc3c7;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

#sidebar .user{
	margin-bottom: 30px;
}

#sidebar .user img{
	border: 10px solid #bdc3c7;
}

#sidebar .user .user-head{
	text-align: center;
}

#sidebar .user .user-head h1{
	color: #34495e;
	font-weight: 600;
}

#sidebar .user .user-head h5{
	font-weight: 600;
	color: #7f8c8d;
}

h1.user-profile-name {
  font-size: 1.5em;
}

#sidebar .user .user-head .hr-center{
	height: 3px;
	background-color: #1abc9c;
	width: 40%;
	display: block;
	margin: 0 auto;
}

#sidebar .link-me{
	margin-top: 30px;
}

#sidebar .link-me i.fa{
	/*background-color: #1abc9c;*/
	color: #1abc9c;
	/*width: 23px;
	height: 20px;*/
	border-radius: 10px;
	font-size: 14pt;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
}

#sidebar .link-me i.fa:hover{
	color: #bdc3c7;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

#sidebar .link-me .hr-center{
	height: 3px;
	background-color: #34495e;
	margin: 0 auto;
	width: 100px;
	margin-top: 15px;
}

/* CONTENT
===========================*/

#content{
	background-color: #fff;
	border-top: 10px solid #16a085;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	   -moz-border-bottom-right-radius: 10px;
	    -ms-border-bottom-right-radius: 10px;
	     -o-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	   -moz-border-bottom-left-radius: 10px;
	    -ms-border-bottom-left-radius: 10px;
	     -o-border-bottom-left-radius: 10px;
}

#content .navbar{
	margin-bottom: 0;
	background-color: #ecf0f1;
}

#content .navbar-default .navbar-nav > .active > a, 
#content .navbar-default .navbar-nav > .active > a:hover, 
#content .navbar-default .navbar-nav > .active > a:focus{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
}

#content .navbar-default .navbar-collapse, 
#content .navbar-default .navbar-form{
	margin-top: 10px;
}

#content .navbar-default ul.nav li a{
	color: #34495e;
}

#content .navbar-default ul.nav li a:hover{
	color: #1abc9c;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

#content .navbar ul.nav.navbar-right{
	margin-right: 17px !important;
}

#content .navbar ul.nav.navbar-right i.fa{
	background-color: #34495e;
	color: #fff;
	width: 30px;
	padding-top: 8px;
	padding-left: 10px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	    -ms-border-radius: 100%;
	     -o-border-radius: 100%;
	height: 30px;
}

#content .main-content{
	padding: 0 20px;
}

.timeline:before {
  	top: 0;
  	bottom: 0;
  	position: absolute;
  	content: " ";
  	width: 3px;
  	background-color: #eeeeee;
  	right: 25px;
  	margin-left: -1.5px;
}


.thumbnail{
	padding: 0;
	border: none;
}

.thumbnail:hover{
	border: none;
}

/*	RESUME
==========================*/

#resume i.fa{
	margin-right: 10px;
}

.top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
        background-color: #08c;
        border-bottom: 1px scroller #ccc;
        z-index: 1030 !important;
        position: fixed !important;
    }

/*	RESPONSIVE
=============================*/

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */

}

@media only screen and (max-width : 480px) {
/* Styles */

	.timeline-panel h1{
		font-size: 20pt;
	}

	.timeline-panel p{
		font-size: 10pt;
	}

	.timeline-panel address{
		font-size: 10pt;
	}

	.timeline-panel .skillbar-title{
		width: 55px;
	}

	.timeline-panel .skillbar-title span{
		padding: 0 5px;
		font-size: 6pt;
	}

	.timeline-panel .skill-bar-percent{
		font-size: 6pt;
	}

	#personal-info .btn-group button{
		font-size: 8pt;
	}

}
