﻿@{
    ViewBag.Title = "Esqueci minha senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique seu e-mail para resetar a senha.
    </p>
</div>
	
